<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CRUDdy Cash - New Group</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= budget.name %></h1>
        <h3>New Group (<%= type %>)</h3>
        <form action="/user/budgets/<%= budget._id %>/<%= type %>/groups" method="post">
            <fieldset aria-labelledby="new-entry-legend">
                <legend name="new-entry-legend">Create Group</legend>
                <div class="two-line-input">
                    <label for="name">Name:</label>
                    <input type="text" name="name">
                </div>
                <div class="two-line-input">
                    <label for="planned">How much do you plan for this month?</label>
                    <input type="number" name="planned" step=".01">
                </div>
                <input type="hidden" name="type" value="<%= type %>">
                <button type="submit">Create</button>
            </fieldset>
        </form>
    </main>
</body>
</html>