<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>CRUDdy Cash - Dashboard</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <div id="greeting-container">
            <h1>Welcome</h1>
            <h1><%= user.firstName %>!</h1>
        </div>
        <% if (hasCurrent) { %>
            <p><em>view your current budget below</em></p>
            <div id="current-budget-container">
                <h2 id="current-name"><%= currentBudget.name %></h2>
                <div class="type-container" id="income-cats">
                    <h3 class="type-heading">Income</h3>
                    <div class="content-box-container">
                        <div class="content-box">
                            <h4 class="content-header">Planned: $<%= currentBudget.income.planned %></h4>
                            <div class="content">
                                <% if (currentBudget.income.groups.length === 0) { %>
                                    <p><em>There currently are no income groups.<br>Create one below.</em></p>
                                <% } else { %>
                                    <ul>
                                        <% currentBudget.income.groups.forEach( (group) => { %>
                                            <li>
                                                <a href="/user/budgets/<%= currentBudget._id %>/income/groups/<%= group._id %>"><%= group.name %></a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </div>
                            <form action="/user/budgets/<%= currentBudget._id %>/income/groups/new" method="get">
                                <button type="submit">Add Group</button>
                            </form>
                        </div>
                        <div class="content-box">
                            <h4 class="content-header">Earned: $<%= currentBudget.income.current %></h4>
                            <div class="content">
                            
                            </div>
                            <form action="/user-budgets/<%= currentBudget._id %>" method="get"> <!-- /expense/entries/new" -->
                                <button type="submit">Add Income</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="type-container" id="saving-cats">
                    <h3 class="type-heading">Savings</h3>
                    <div class="content-box-container">
                        <div class="content-box">
                            <h4 class="content-header">Planned: $<%= currentBudget.savings.planned %></h4>
                            <div class="content">
                                <% if (currentBudget.savings.groups.length === 0) { %>
                                    <p><em>There currently are no savings groups.<br>Create one below.</em></p>
                                <% } else { %>
                                    <ul>
                                        <% currentBudget.savings.groups.forEach( (group) => { %>
                                            <li>
                                                <a href="/user/budgets/<%= currentBudget._id %>/savings/groups/<%= group._id %>"><%= group.name %></a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </div>
                            <form action="/user/budgets/<%= currentBudget._id %>/savings/groups/new" method="get">
                                <button type="submit">Add Group</button>
                            </form>
                        </div>
                        <div class="content-box">
                            <h4 class="content-header">Saved: $<%= currentBudget.savings.current %></h4>
                            <div class="content">
    
                            </div>
                            <form action="/user-budgets/<%= currentBudget._id %>" method="get"> <!-- /saving/entries/new" -->
                                <button type="submit">Add Saving</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="type-container" id="expense-cats">
                    <h3 class="type-heading">Expenses</h3>
                    <div class="content-box-container">
                        <div class="content-box">
                            <h4 class="content-header">Planned: $<%= currentBudget.expenses.planned %></h4>
                            <div class="content">
                                <% if (currentBudget.expenses.groups.length === 0) { %>
                                    <p><em>There currently are no expenses groups.<br>Create one below.</em></p>
                                <% } else { %>
                                    <ul>
                                        <% currentBudget.expenses.groups.forEach( (group) => { %>
                                            <li>
                                                <a href="/user/budgets/<%= currentBudget._id %>/expenses/groups/<%= group._id %>"><%= group.name %></a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </div>
                            <form action="/user/budgets/<%= currentBudget._id %>/expenses/groups/new" method="get">
                                <button type="submit">Add Group</button>
                            </form>
                        </div>
                        <div class="content-box">
                            <h4 class="content-header">Spent: $<%= currentBudget.expenses.current %></h4>
                            <div class="content">
                
                            </div>
                            <form action="/user-budgets/<%= currentBudget._id %>" method="get">  <!-- /expense/entries/new" -->
                                <button type="submit">Add Expense</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="button-container">
                    <form action="" method="get">
                        <button type="submit">Edit Budget</button>
                    </form>
                    <form action="" method="get">
                        <button type="submit">Delete Budget</button>
                    </form>
                </div>
            </div>
        <% } else { %>
            <p><em>You currently do not have any budgets. Create one here:</em></p>
            <form action="/user/budgets/new" method="get">
                <button type="submit">Create Budget</button>
            </form>
        <% } %>
    </main>
</body>
</html>