<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/indexList.css">
    <title>CRUDdy Cash - <%= category.name %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= budget.name %></h1>
        <div class="category-info">
            <h2><%= category.name %> (<% if(category.isIncome) { %>
                income
            <% } else { %>
                expense
            <% } %>)</h2>
            <p><b>Planned:</b> $<%= category.planned %></p>
            <p><b>Total:</b> $<%= category.total %></p>
        </div>
        <% if(category.entries.length === 0) { %>
            <p><em>There are no entries for this category.</em></p>
        <% } else { %>
            <h2>Entries</h2>
            <ul>
                <% category.entries.forEach( (entry) => { %>
                    <li>
                        <a href="/user-budgets/<%= budget._id %>/categories/<%= category._id %>/entries/<%= entry._id %>"><b><%= entry.name %>:</b> $<%= entry.amount %></a>
                    </li>
                <% }) %>
            </ul>
        <% } %>
        <div>
            <form action="/user-budgets/<%= budget._id %>" method="get">
                <button type="submit">Go Back</button>
            </form>
            <form action="/user-budgets/<%= budget._id %>/categories/<%= category._id %>/entries/new" method="get">
                <button type="submit">Create Entry</button>
            </form>
            <form action="/user-budgets/<%= budget._id %>/categories/<%= category._id %>/edit" method="get">
                <button type="submit">Edit</button>
            </form>
            <form action="/user-budgets/<%= budget._id %>/categories/<%= category._id %>?_method=delete" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html>