<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/show.css">
    <link rel="stylesheet" href="../css/indexList.css">
    <link rel="stylesheet" href="../css/budgetBox.css">
    <title>CRUDdy Cash - <%= budget.name %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= budget.name %></h1>
        <div class="budget-box-container">
            <div class="budget-box">
                <h3>Income</h3>
                <ul>
                    <li><b>Planned:</b> $<%= budget.incomePlanned %></li>
                    <li><b>Total:</b> $<%= budget.incomeTotal %></li>
                </ul>
            </div>
            <div class="budget-box">
                <h3>Expenses</h3>
                <ul>
                    <li><b>Planned:</b> $<%= budget.expensesPlanned %></li>
                    <li><b>Total:</b> $<%= budget.expensesTotal %></li>
                </ul>
            </div>
        </div>
        <% if(budget.categories.length === 0) { %>
            <p><em>There are no categories for this budget.</em></p>
        <% } else { %>
            <% if(incomeCategories.length > 0) { %>
                <div class="list-container">
                    <h2>Income</h2>
                    <ul class="list">
                        <% incomeCategories.forEach( (category) => { %>
                            <li>
                                <a href="/user-budgets/<%= budget._id %>/categories/<%= category._id %>"><%= category.name %></a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
            <% if(expenseCategories.length > 0) { %>
                <div class="list-container">
                    <h2>Expenses</h2>
                    <ul class="list">
                        <% expenseCategories.forEach( (category) => { %>
                            <li>
                                <a href="/user-budgets/<%= budget._id %>/categories/<%= category._id %>"><%= category.name %></a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
        <% } %>
        <div>
            <form action="/user-budgets" method="get">
                <button type="submit">Go Back</button>
            </form>
            <form action="/user-budgets/<%= budget._id %>/categories/new" method="get">
                <button type="submit">Create Category</button>
            </form>
            <form action="/user-budgets/<%= budget._id %>/edit" method="get">
                <button type="submit">Edit</button>
            </form>
            <form action="/user-budgets/<%= budget._id %>?_method=delete" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html>