<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/show.css">
    <title>CRUDdy Cash - <%= budget.name %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h2 id="current-name"><%= budget.name %></h2>
        <div id="current-budget-container">
            <div class="type-container" id="income-cats">
                <h3 class="type-heading">Income</h3>
                <div class="content-box-container">
                    <div class="content-box">
                        <h4 class="content-header">Planned: $<%= budget.income.planned %></h4>
                        <div class="content">
                            <% if (budget.income.groups.length === 0) { %>
                                <p><em>There currently are no income groups.<br>Create one below.</em></p>
                            <% } else { %>
                                <ul>
                                    <% budget.income.groups.forEach( (group) => { %>
                                        <li>
                                            <a href="/user/budgets/<%= budget._id %>/income/groups/<%= group._id %>"><%= group.name %> - $<%= group.planned %></a>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                        <form action="/user/budgets/<%= budget._id %>/income/groups/new" !method="get">
                            <button type="submit">Add Group</button>
                        </form>
                    </div>
                    <div class="content-box">
                        <h4 class="content-header">Earned: $<%= budget.income.current %></h4>
                        <div class="content">
                            <% let incomeGroupsWithEntries = [] %>
                            <% budget.income.groups.forEach( (group) => { %>
                                <% if (group.entries.length !== 0) { %>
                                    <% incomeGroupsWithEntries.push(group) %>
                                <% } %>
                            <% }) %>
                            <% if (incomeGroupsWithEntries.length === 0) { %>
                                <p><em>There currently are no income entries.<br>Create one below.</em></p>
                            <% } else { %>
                                <ul>
                                    <% incomeGroupsWithEntries.forEach( (group) => { %>
                                        <% group.entries.forEach( (entry) => { %>
                                            <li>
                                                <a href="/user/budgets/<%= budget._id %>/income/groups/<%= group._id %>/entries/<%= entry._id %>"><b><%= entry.name %></b> - $<%= entry.amount %></a>
                                            </li>
                                        <% }) %>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                        <form action="/user-budgets/<%= budget._id %>" method="get"> <!-- /expense/entries/new" -->
                            <button type="submit">Add Income</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="type-container" id="saving-cats">
                <h3 class="type-heading">Savings</h3>
                <div class="content-box-container">
                    <div class="content-box">
                        <h4 class="content-header">Planned: $<%= budget.savings.planned %></h4>
                        <div class="content">
                            <% if (budget.savings.groups.length === 0) { %>
                                <p><em>There currently are no savings groups.<br>Create one below.</em></p>
                            <% } else { %>
                                <ul>
                                    <% budget.savings.groups.forEach( (group) => { %>
                                        <li>
                                            <a href="/user/budgets/<%= budget._id %>/savings/groups/<%= group._id %>"><%= group.name %> - $<%= group.planned %></a>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                        <form action="/user/budgets/<%= budget._id %>/savings/groups/new" method="get">
                            <button type="submit">Add Group</button>
                        </form>
                    </div>
                    <div class="content-box">
                        <h4 class="content-header">Saved: $<%= budget.savings.current %></h4>
                        <div class="content">
                            <% let savingsGroupsWithEntries = [] %>
                            <% budget.savings.groups.forEach( (group) => { %>
                                <% if (group.entries.length !== 0) { %>
                                    <% savingsGroupsWithEntries.push(group) %>
                                <% } %>
                            <% }) %>
                            <% if (savingsGroupsWithEntries.length === 0) { %>
                                <p><em>There currently are no savings entries.<br>Create one below.</em></p>
                            <% } else { %>
                                <ul>
                                    <% savingsGroupsWithEntries.forEach( (group) => { %>
                                        <% group.entries.forEach( (entry) => { %>
                                            <li>
                                                <a href="/user/budgets/<%= budget._id %>/savings/groups/<%= group._id %>/entries/<%= entry._id %>"><b><%= entry.name %></b> - $<%= entry.amount %></a>
                                            </li>
                                        <% }) %>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                        <form action="/user-budgets/<%= budget._id %>" method="get"> <!-- /saving/entries/new" -->
                            <button type="submit">Add Saving</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="type-container" id="expense-cats">
                <h3 class="type-heading">Expenses</h3>
                <div class="content-box-container">
                    <div class="content-box">
                        <h4 class="content-header">Planned: $<%= budget.expenses.planned %></h4>
                        <div class="content">
                            <% if (budget.expenses.groups.length === 0) { %>
                                <p><em>There currently are no expenses groups.<br>Create one below.</em></p>
                            <% } else { %>
                                <ul>
                                    <% budget.expenses.groups.forEach( (group) => { %>
                                        <li>
                                            <a href="/user/budgets/<%= budget._id %>/expenses/groups/<%= group._id %>"><%= group.name %> - $<%= group.planned %></a>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                        <form action="/user/budgets/<%= budget._id %>/expenses/groups/new" method="get">
                            <button type="submit">Add Group</button>
                        </form>
                    </div>
                    <div class="content-box">
                        <h4 class="content-header">Spent: $<%= budget.expenses.current %></h4>
                        <div class="content">
                            <% let expensesGroupsWithEntries = [] %>
                            <% budget.expenses.groups.forEach( (group) => { %>
                                <% if (group.entries.length !== 0) { %>
                                    <% expensesGroupsWithEntries.push(group) %>
                                <% } %>
                            <% }) %>
                            <% if (expensesGroupsWithEntries.length === 0) { %>
                                <p><em>There currently are no expenses entries.<br>Create one below.</em></p>
                            <% } else { %>
                                <ul>
                                    <% expensesGroupsWithEntries.forEach( (group) => { %>
                                        <% group.entries.forEach( (entry) => { %>
                                            <li>
                                                <a href="/user/budgets/<%= budget._id %>/expenses/groups/<%= group._id %>/entries/<%= entry._id %>"><b><%= entry.name %></b> - $<%= entry.amount %></a>
                                            </li>
                                        <% }) %>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                        <form action="/user-budgets/<%= budget._id %>" method="get">  <!-- /expense/entries/new" -->
                            <button type="submit">Add Expense</button>
                        </form>
                    </div>
                </div>
            </div>
            <% if (budget._id != currentBudgetId) { %>
                <div class="button-container" id="make-current-button">
                    <form action="/user/budgets?current=true&id=<%= budget._id %>" method="post">
                        <button type="submit">Make this my current budget</button>
                    </form>
                </div>
            <% } %>
            <div class="button-container">
                <form action="/user/budgets" method="get">
                    <button type="submit">Go Back</button>
                </form>
                <form action="/user/budgets/<%= budget._id %>/edit" method="get">
                    <button type="submit">Edit</button>
                </form>
                <form action="/user/budgets/<%= budget._id %>?_method=delete" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>