<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CRUDdy Cash - Edit <%= entry.name %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= budget.name %></h1>
        <h2><%= category.name %></h2>
        <h3><%= entry.name %></h3>
        <form action="/user-budgets/<%= budget._id %>/categories/<%= category._id %>/entries/<%= entry._id %>?_method=put" method="post">
            <fieldset aria-labelledby="new-entry-legend">
                <legend name="new-entry-legend">Edit</legend>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" value="<%= entry.name %>">
                </div>
                <div>
                    <label for="postedDay">Day Posted:</label>
                    <input type="number" name="postedDay" value="<%= entry.postedDay %>">
                </div>
                <div>
                    <label for="amount">Amount:</label>
                    <input type="number" name="amount" value="<%= entry.amount %>">
                </div>
                <button type="submit">Update</button>
            </fieldset>
        </form>
    </main>
</body>
</html>