<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>CRUDdy Cash - New Entry</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= budget.name %></h1>
        <h2><%= group.name %> (<%= type %>)</h2>
        <h3>New Entry</h3>
        <form action="/user/budgets/<%= budget._id %>/<%= type %>/groups/<%= group._id %>/entries" method="post">
            <fieldset aria-labelledby="new-entry-legend">
                <legend name="new-entry-legend">Create Entry</legend>
                <div>
                    <label for="name">Name:</label><br>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="postedDate">Date Posted:</label><br>
                    <input type="date" name="postedDate">
                </div>
                <div>
                    <label for="amount">Amount:</label><br>
                    <input type="number" name="amount" step=".01">
                </div>
                <input type="hidden" name="type" value="<%= type %>">
                <button type="submit">Create</button>
            </fieldset>
        </form>
    </main>
</body>
</html>