<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/show.css">
    <title>CRUDdy Cash - <%= entry.name %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= budget.name %></h1>
        <div class="group-info">
            <h2><%= group.name %> (<%= type %>)</h2>
        </div>
        <div class="group-entries">
            <h3><%= entry.name %></h3>
            <ul>
                <li><b>Date Posted:</b> <%= entry.postedDate %></li>
                <li><b>Amount:</b> $<%= entry.amount %></li>
            </ul>
        </div>
        <div class="button-container">
            <form action="/user/budgets/<%= budget._id %>/<%= type %>/groups/<%= group._id %>" method="get">
                <button type="submit">Back</button>
            </form>
            <form action="/user/budgets/<%= budget._id %>/<%= type %>/groups/<%= group._id %>/entries/<%= entry._id %>/edit" method="get">
                <button type="submit">Edit</button>
            </form>
            <form action="/user/budgets/<%= budget._id %>/<%= type %>/groups/<%= group._id %>/entries/<%= entry._id %>?_method=delete" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html>