<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/entryShow.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= entry.name %></h1>
        <ul>
            <li><b>Day Posted:</b> <%= entry.postedDay %></li>
            <li><b>Amount:</b> $<%= entry.amount %></li>
        </ul>
        <div>
            <form action="">
                <button type="submit">Edit Entry</button>
            </form>
            <form action="/entries/<%= entry._id %>?_method=delete" method="post">
                <button type="submit">Delete Entry</button>
            </form>
        </div>
    </main>
</body>
</html>