<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/show.css">
    <title>CRUDdy Cash - <%= entry.name %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <h1><%= category.name %></h1>
        <h3><%= entry.name %></h3>
        <ul>
            <li><b>Day Posted:</b> <%= entry.postedDay %></li>
            <li><b>Amount:</b> $<%= entry.amount %></li>
        </ul>
        <div>
            <form action="/categories/<%= category._id %>" method="get">
                <button type="submit">Go Back</button>
            </form>
            <form action="/categories/<%= category._id %>/entries/<%= entry._id %>/edit" method="get">
                <button type="submit">Edit</button>
            </form>
            <form action="/categories/<%= category._id %>/entries/<%= entry._id %>?_method=delete" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html>